/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
}

:root {
    --navbuttonwidth: 50vw;
}

body {
    background-color: rgb(69, 69, 69);
}

a {
    color: rgba(255, 255, 255, 0);
}

/* top title */

.maintitle {
    width: 100vw;
    text-align: center;
    background-color: #ff9e81;
    color: white;
}

/* top nav */

.mainnav {
    display: grid;
    grid-template-columns: var(--navbuttonwidth) var(--navbuttonwidth);
}

.navopt {
    width: auto;
    height: 3vh;
    background-color: royalblue;
    border-style: solid;
    border-color: rgb(65, 80, 218);
    text-align: center;
    color: white;
}

/* msger */

.msg {
    width: 50vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}

.inputtext {
    margin-top: 25vh;
    margin-left: 2.5vw;
    height: 70%;
    width: 45vw;
    resize: none;
    background-color:rgb(49, 49, 49);
    color: white;
}

